librosa
pandas
numpy
scikit-learn
keras
keras.utils 
ipython
matplotlib
seaborn
tensorflow
fastapi
uvicorn[standard]
sqlalchemy
python-jose[cryptography]
passlib[bcrypt]
python-multipart
plotly
psycopg2